.containerProfile {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.cardProfile {
    display: flex;
    flex-wrap: wrap;
}

.cardProfileImage{
    border-radius: 15px;
}

.cardProfileInfo {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.cardProfileText {
    font-weight: bold;
}