.containerDetails {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.cardDetails {
    display: flex;
    flex-wrap: wrap;
}

.cardDetailsImage{
    border-radius: 15px;
}

.cardDetailsInfo {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.cardDetailsText {
    font-weight: bold;
}