.header {
    width: 85%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-bottom: 2px solid #ccc;
}

.mainTitle {
    text-shadow: 0 0 5px #fff, 0 0 10px #e60073, 0 0 20px #e60073,
    0 0 30px #e60073, 0 0 40px #e60073, 0 0 60px #e60073;
}