.movieCard {
    transition: transform .3s;
}

@media (hover:hover){
    .movieCard:hover {
        transform: scale(1.025)
    }
}

.movieCardImage {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background-color: lightblue;
}