.search {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.searchContainer {
    position: relative;
}

.searchInput {
    height: 2rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.searchInput:focus {
    outline: 4px solid blue;
}

.searchBtn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
}
